.box {
            position: relative;
            animation: geeks 5s infinite;
            animation-play-state: paused;
        height: 200px;
        font-size: 40px;
         text-align: center;
        }
          
        @keyframes geeks {
           0% {
                left: 0px;
             top:0px;
              width: 500px;
                 background: pink;
             border-radius: 0%;
          
                
            }
            50% {
                left: 250px;
              background: orange;
              top:40px;
               width: 250px;
                  border-radius: 50%;
            
            }
              100% {
                left: 500px;
             top:80px;
                 width: 500px;
                 background: pink;
             border-radius: 0%;
                
            }
        }

  .box.horizTranslate {
            animation-play-state: running;
        }

    /* For the Second Box */

    .box2 {
            position: relative;
            animation: geeks2 5s infinite;
            animation-play-state: paused;
            animation-direction: alternate;
        height: 500px;
        padding: 20%;
        width: 300px;
        font-size: 40px;
         text-align: center;
        }
          
        @keyframes geeks2 {
           0% {
                left: 0px;
             top:0px;
             /* transform: translateX(0); */
              width: 500px;
                 background: pink;
             border-radius: 0%;
          
                
            }
            50% {
                left: 250px;
              background: orange;
              top:40px;
                /* transform: translateX(250px); */
               width: 250px;
                  border-radius: 100%;
            
            }
             75% {
                left: 300px;
              background: orange;
              top:40px;
                /* transform: translateX(250px); */
               width: 250px;
               padding: 10%;
                  border-radius: 30%;
             }
              100% {
                left: 500px;
             top:80px;
                /* transform: translateX(500px); */
                 width: 500px;
                 background: pink;
             border-radius: 50%;
        }
    }
  .box2.horizTranslate2 {
            animation-play-state: running;
        }

/* makes it so it starts and stops when you hover over the div */

   .box2:hover {
            animation-play-state: running;
        }
    
        .box:hover {
            animation-play-state: running;
        }