
.wayoutside {
  width: 800px;

}
.outside {
  display: inline-block;
   height: 300px;
    width: 300px;
  clip-path: circle(50% at 50% 50%);
   
}

.box3 {
  background: white;
 
  margin-left: 10px;
    clip-path: circle(50% at 50% 50%);
   animation: geeks 5s infinite;
            animation-play-state: paused;
            animation-direction: alternate;
  margin-top: -20px;

 
  
}
.box2 {
  height: 150px;
  line-height: 150px;  
}
.box {
  position: relative;
    width: 300px;
  top:150px;
   height: 150px;
        font-size: 40px;
         text-align: center;
   left: 0px;
             top:0px;
              width: 500px;
                 background: #ddd;
            
  border-style: solid;
  border-width: 5px;
  border-color: black;
  overflow: hidden;
        }
          
        @keyframes geeks {
           0% {
                  margin-left: 50px;
             margin-top: -20px;
              width: 70px;
  height: 70px;
 
            }
            20% {
                     margin-left: 170px;
              margin-top: 0px;
               width: 80px;
  height: 80px;
            
          
          }
           35% {
                    margin-left: 190px;
             margin-top: -20px;
                 width: 80px;
  height: 80px;
             
               
          }
              100% {
                   margin-left: 210px;
                  margin-top: -20px;
                    width: 80px;
  height: 80px;
          
            }
        }

  .box3.horizTranslate {
            animation-play-state: running;
        }
          
/* Second Eyes */

.outside2 {
  display: inline-block;
   height: 300px;
    width: 300px;
  clip-path: circle(50% at 50% 50%);
}

.eyes {
  background: rgb(255, 162, 162);
 
  margin-left: 10px;
    clip-path: circle(50% at 50% 50%);
   animation: geeks2 5s infinite;
            animation-play-state: paused;
            animation-direction: alternate;
  margin-top: -20px;

 
  
}
.box2eyes {
  height: 150px;
  line-height: 150px;  
}
.boxeyes {
  position: relative;
    width: 300px;
  top:150px;
   height: 150px;
        font-size: 40px;
         text-align: center;
   left: 0px;
             top:0px;
              width: 500px;
                 background: #8a7c7c;
            
  border-style: solid;
  border-width: 5px;
  border-color: black;
  overflow: hidden;
        }
          
        @keyframes geeks2 {
           0% {
            background: rgb(240, 0, 0);
                  margin-left: 50px;
             margin-top: -20px;
              width: 70px;
  height: 70px;
 
            }
            20% {
                     margin-left: 170px;
              margin-top: 0px;
               width: 80px;
  height: 80px;
            
  
          }
           25% {
                    margin-left: 180px;
             margin-top: -20px;
                 width: 80px;
  height: 80px;        


          }
           30% {
                    margin-left: 190px;
             margin-top: -20px;
                 width: 80px;
  height: 80px;

          }
           35% {
                  background-color: rgb(199, 89, 69);
                    margin-left: 200px;
             margin-top: -20px;
                 width: 80px;
  height: 80px;
             
  
          }
           60% {
                    margin-left: 165px;
             margin-top: -20px;
                 width: 80px;
  height: 80px;
               
          }
              100% {
                background: rgb(216, 106, 170);
                   margin-left: 100px;
                  margin-top: -20px;
                    width: 80px;
  height: 80px;
          
            }
        }

  .eyes.horizTranslate {
            animation-play-state: running;
        }
          

/* makes it so it starts and stops when you hover over the div */

   .box3:hover {
            animation-play-state: running;
        }
    .eyes:hover {
            animation-play-state: running;
        }