      .box {
            position: relative;
            animation: geeks 5s infinite;
            animation-play-state: paused;
        height: 200px;
        font-size: 40px;
         text-align: center;
        color: blue;
        }
          
        @keyframes geeks {
           0% {
                left: 0px;
             top:0px;
              width: 400px;
             height: 400px;
                 background: blue;
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);


                
            }
            50% {
                left: 250px;
              background: yellow;
              top:40px;
               width: 400px;
             height: 50px;
         clip-path: polygon(0% 50%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

;


            
            }
              100% {
                left: 500px;
             top:80px;
                  width: 400px;
             height: 400px;
                 background: blue;
                clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
           
                
            }
        }

  .box.horizTranslate {
            animation-play-state: running;
        }

        /* For Second Box */

      .geekbox {
            position: relative;
            animation: geeks2 5s 5;
            animation-play-state: paused;
            animation-direction: alternate;
        height: 200px;
        font-size: 40px;
         text-align: center;
         padding: 100px;
        margin: 10%;
        color: rgb(0, 0, 0);
        }
          
        @keyframes geeks2 {
           0% {
                left: 0px;
             top:0px;
              width: 400px;
             height: 400px;
                 background: rgb(0, 0, 0);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

             }
            25% {
                left: 100px;
              background: rgb(161, 161, 84);
              top:40px;
               width: 400px;
             height: 50px;
         clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
                
            }
            50% {
                left: 300px;
              background: yellow;
              top:40px;
               width: 400px;
             height: 50px;
         clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

;
               }
            75% {
                left: 500px;
              background: rgb(255, 255, 199);
              top:40px;
               width: 400px;
             height: 50px;
         clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

            
            }
              100% {
                left: 700px;
             top:80px;
                  width: 400px;
             height: 400px;
                 background: blue;
                clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
           
                
            }
        }

         .box2.horizTranslate2 {
            animation-play-state: running;
        }
/* makes it so it starts and stops when you hover over the div */

   .box:hover {
            animation-play-state: running;
        }
     .box2:hover {
            animation-play-state: running;
        }